.icon {
  @mixin atSmall {
    width: 25px;
    height: 25px;
    margin: 5px;
  }
  &--git {
    content: url(../images/iconmonstr-github-3.svg);
  }
  &--link {
    content: url(../images/iconmonstr-linkedin-3.svg);
  }
  &--file {
    content: url(../images/iconmonstr-file-33.svg);
  }
}
